:root {
	--body: #ffffff;
	--black: #180b0c;
	--white: #fff;
	--spantext: #e8e2da;
	--theme: #a94b4c;
	--theme2: #f0ad2b;
	--bg1: #a94b4c;
	--bg2: #933f40;
	--bg3: #fff;
	--border1: #454750;
	--pra-clr: #e8e2da;
	--dd-clr: #e8e2da;
	--place: #d9d2c9;
	--tag: #e8e2da;
	--bspan: #e8e2da;
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme: var(--theme);
$theme2: var(--theme2);
$bg1: var(--bg1);
$bg2: var(--bg2);
$bg3: var(--bg3);
$spantext: var(--spantext);
$border1: var(--border1);
$pra-clr: var(--pra-clr);
$dd-clr: var(--dd-clr);
$place: var(--place);
$tag: var(--tag);
$bspan: var(--bspan);
